<!-- CARRUSEL -->
<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner" id="carou">

        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
</div>
<!-- //CARRUSEL -->

<!--CATEGORIES -->
<section class="about py-md-5 py-5">

    <!-- LISTA CATEGORIAS -->
    <section class="about py-5">
        <div class="container pb-lg-3">
            <h3 class="tittle text-center" data-tr="PRODUCTOS PARA TI"></h3>
            <div class="row">
                <div id="products"></div>
            </div>
        </div>

    <section class="about py-5">
    <!-- //CATEGORIES -->
    <!--FEATURED PRODUCTS-->
    <section class="about py-5">
    <div class="container pb-lg-3">
        <h3 class="tittle text-center" data-tr="LIBROS RELACIONADOS CON LA MODA"></h3>
        <div class="row">
            <div id="featured"></div>
            <div id="btnfeatured"></div>
            <div id="nomore"></div>
        </div>
    </div>
    </section>  


    <!-- //FEATURED PRODUCTS-->