<div id="all">

    <!--//main-content-->
    <!---->
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="index.php?page=controller_home&op=list" data-tr="Inicio"></a>
        </li>
        <li class="breadcrumb-item">
            <a href="index.php?page=controller_shop&op=view" data-tr="Tienda"></a>
        </li>
    </ol>

</div>
<!--//cierra all-->

<!-- banner -->
<section class="ab-info-main py-md-5 py-4">
    <div class="container py-md-3">
        <!-- top Products -->
        <div class="row">
            <!-- product left -->
            <div class="side-bar col-lg-4">


                <!--DETAILS GMAPS-->
                <div class="left-side my-4">
                    <div id="textarea">
                        <h4 class="mb-2"><span class="fa fa-map-marker" aria-hidden="true"
                                data-tr="VISTA EN MAPA"></span>
                        </h4>
                    </div>
                    <div id="mapdetails"></div>
                </div>
                <!-- //DETAILS GMAPS-->

                <div id="search">

                    <div class="search-bar w3layouts-newsletter">

                        <h3 class="sear-head">Search Here..</h3>
                        <form action="#" method="post" class="d-flex">
                            <input type="search" placeholder="Product name..." name="search" class="form-control"
                                required="">
                            <button class="btn1"><span class="fa fa-search" aria-hidden="true"></span></button>
                        </form>
                    </div>
                </div>

                <div id="emptyfilters">
                    <!--preference -->
                    <div class="left-side my-4">
                        <h3 class="sear-head" data-tr="Categorias"></h3>
                        <ul class="w3layouts-box-list">
                            <li>
                                <input type="checkbox" id="camisetas" class="checked">
                                <span class="span" data-tr="CAMISETAS"></span>
                            </li>
                            <li>
                                <input type="checkbox" id="sudaderas" class="checked">
                                <span class="span" data-tr="SUDADERAS"></span>
                            </li>
                            <li>
                                <input type="checkbox" id="calzado" class="checked">
                                <span class="span" data-tr="CALZADO"></span>
                            </li>
                            <li>
                                <input type="checkbox" id="chandal" class="checked">
                                <span class="span" data-tr="CHANDALS"></span>

                            </li>
                        </ul>
                    </div>
                    <!-- // preference -->
                    <!-- discounts -->
                    <div class="left-side">
                        <h3 class="sear-head" data-tr="Rango de Precios"></h3>
                        <ul class="w3layouts-box-list">
                            <li>
                                <input type="checkbox" id="050" class="checked">
                                <span class="span">0 - 50 </span>
                            </li>
                            <li>
                                <input type="checkbox" id="508" class="checked">
                                <span class="span"> 50 - 80 </span>
                            </li>
                            <li>
                                <input type="checkbox" id="8012" class="checked">
                                <span class="span">80 - 120 </span>
                            </li>
                            <li>
                                <input type="checkbox" id="12020" class="checked">
                                <span class="span">120 - 200 </span>
                            </li>
                        </ul>
                    </div>
                    <!-- //reviews -->

                    <!-- //LISTA DE FAVORITOS -->
                    <div class="left-side">
                        <h3 class="sear-head" data-tr="TUS PRODUCTOS FAVORITOS"></h3>
                        <ul class="w3layouts-box-list">
                            <li>
                                <input type="checkbox" id="like" class="checked">
                                <span class="span">FAVORITOS</span>
                            </li>
                    
                        </ul>
                    </div>
                    <!-- //LISTA DE FAVORITOS -->

                </div>
            </div> <!-- //emptyfilters -->

            <!-- //product left -->
            <!-- product right -->
            <div class="left-ads-display col-lg-8" id="prod">

                <div id="products">
                    <div class="left-ads-display col-lg-8">
                        <div id="list_products">
                        </div>
                        <div id="list_prod"></div>
                        <div id="featured"></div>
                    </div>
                </div>
                <div id="npg"></div>
                <div class="left-side my-4">

                    <div id="textarea2"></div>

                    <div id="mapa"></div>
                </div>

                <div id="pagination"></div>

            </div>
        </div>
    </div>
</section>
<!-- //contact -->